<h1>Lista de tipotelefones</h1>

<table>
  <tr>
    <th>Descrição</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipotelefones.each do |tipotelefone| %>
  <tr>
    <td><%= tipotelefone.descricao %></td>
    <td><%= link_to 'Mostrar', tipotelefone %></td>
    <td><%= link_to 'Editar', edit_tipotelefone_path(tipotelefone) %></td>
    <td><%= link_to 'Excluir', tipotelefone, method: :delete, data: { confirm: 'Você tem certeza ?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tipotelefone', new_tipotelefone_path %>
