= semantic_form_for [@telefone] do |form|
  
   = form.input :ddd, :label => 'Ddd'
   = form.input :numerotelefone, :label => 'Numerotelefone'
   = form.input :aluno, :member_label => :nomealuno, :label => 'Aluno' 
   = form.input :tipotelefone, :member_label => :descricao, :label => 'Descricao' 
   = form.submit 'Salvar'
