<h1>Lista de professores</h1>

<table>
  <tr>
    <th>Nomeprofessor</th>
    <th>Sexo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @professors.each do |professor| %>
  <tr>
    <td><%= professor.nomeprofessor %></td>
    <td><%= professor.sexo %></td>
    <td><%= link_to 'Mostrar', professor %></td>
    <td><%= link_to 'Editar', edit_professor_path(professor) %></td>
    <td><%= link_to 'Excluir', professor, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Professor', new_professor_path %>
