<h1>Lista de turmas</h1>

<table>
  <tr>
    <th>Aluno</th>
    <th>Disciplinaprofessor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @turmis.each do |turmi| %>
  <tr>
    <td><%= turmi.aluno %></td>
    <td><%= turmi.disciplinaprofessor %></td>
    <td><%= link_to 'Mostrar', turmi %></td>
    <td><%= link_to 'Editar', edit_turmi_path(turmi) %></td>
    <td><%= link_to 'Excluir', turmi, method: :delete, data: { confirm: 'Você tem certeza ?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Turmi', new_turmi_path %>
